* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 10%;
  background: greenyellow;
  color: black;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 1%;
  border-bottom: 1px solid grey;
}

#info {
  display: flex;
  margin: 0;
  gap: 12vw;
}

body {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  color: black;
  overflow: hidden;
  touch-action: manipulation;
  user-select: none;
}

h1 {
	text-align: center;
}

#game-area {
  position: relative;
  width: 90%;
  height: 480px;
  background: url('sprites/forest.png') no-repeat center/cover;
  border: 2px solid black;
  overflow: hidden;
  margin-top: 5px;
}

#player {
  position: absolute;
  width: 40px;
  height: 40px;
}

.trash {
  position: absolute;
  width: 30px;
  height: 30px;
}

#controls {
  margin-top: 10px;
  display: flex;
  grid-template-columns: repeat(3, 60px);
  grid-gap: 5px;
}

button {
  width: 60px;
  height: 60px;
  font-size: 24px;
  border: none;
  background: #555;
  color: white;
  border-radius: 10px;
}

#start-message {
  text-align: center;
  margin-bottom: 1%;
}

#nomemapa {
  width: 150px;
  height: 50px;
  font-size: 20px;
  border: none;
  background-color: #555;
  color: white;
  border: 1px solid black;
  border-radius: 10px;
  margin: 5px;
  text-align: center;
}

#hud {
  margin: 10px 0;
}

.point-popup {
  position: absolute;
  color: yellow;
  font-weight: bold;
  animation: rise 1s ease-out forwards;
}

@keyframes rise {
  0% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(-20px); }
}

@media (min-width: 600px) {
  #game-area {
    position: relative;
    width: 600px;
    height: 600px;
    background: url('sprites/forest.png') no-repeat center/cover;
    border: 2px solid black;
    overflow: hidden;
    margin-top: 5px;
  }

  #info {
    display: flex;
    margin: 0;
    gap: 7vw;
  }
  
  #start-message {
    margin-bottom: 1%;
  }

  #controls {
    display: none;
  }
}